@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Comic Sans MS";
    font-size: 17px;
    background: linear-gradient(#185a9d 0%,#43cea2 100%);
    height: 100vh;
    color: white;
}
section{
    text-align: center;
    padding-top: 6em;
}
h1{
    margin-bottom: 2em;
    font-size: 3em;
}
main{
    position: relative;
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    width: 600px;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    grid-gap: 10px;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(24, 90, 157,0.7);
    grid-template-areas: 
        ". x"
        ". y"
    ;
}
ul.actions{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    cursor: pointer;
    grid-area: y;
}
li:hover{
    color: rgba(0, 0, 0, 1);
}
img{
    z-index: 1;
    position: absolute;
    top: -4.3em;
    left: 1.5em;
    box-shadow: 0px 7px 10px grey;
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
audio{
    grid-area: x;
    width: 100%;
}
.actions li:first-child{
    margin-right: 2.3em;
}
.actions li:last-child{
    margin-left: 2.3em;
}
.hide{
    display: none;
}
.rot{
    animation: rotate 3s linear infinite;
}
.stop{
    animation-play-state: paused;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media(max-width:650px){
    main{
        grid-template-columns: 1fr;
        grid-gap:30px;
        width: 90%;
    }
    h1{
        font-size: 2em;
    }
    .actions li:first-child{
        margin-right: 1.8em;
    }
    .actions li:last-child{
        margin-left: 1.8em;
    }
}
@media(max-width:400px){
    audio{
        width: 100%;
    }
}